div {
    position: absolute;
    top: 2.5%;
    left: 3%;

    width: 86%;

    padding: 4%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #3da550;
    background: linear-gradient(0deg, #29b142 0%, #307d3e 100%);
    border-radius: 1rem;

    box-shadow: #121212 0px 0px 24px;

    font-family: 'regular';
    color: #fff;

    animation: slighSlideInFromTop 0.3s ease-in-out;

    transition-property: opacity;
    transition-duration: 0.3s;

    &.empty {
        animation: slighSlideOutToBottom 0.3s;
    }

    &.error {
        background: #ca2727;
        background: linear-gradient(0deg, #ca2727 0%, #992121 100%);
    }
}
