<div class="container">
    <headbar
        [route]="'/expenses'"
        [subhead]="'Nouvelle dépense'"
        [title]="'Fixer le montant'"
    />
    <form [formGroup]="formGroup" (submit)="onButtonClicked()">
        <div class="content">
            <balance-displayer
                [balance]="formGroup.controls[label].value"
            />
            <balance-keyboard
                [keyboard]="formatter.getKeyboard()"
                (keyClicked)="onKeyClicked($event)"
            />
        </div>
        <form-button
            [disabled]="formGroup.controls[label].invalid"
        />
    </form>
</div>