<div class="container">
    <headbar
        [route]="'/expenses'"
        [subhead]="'Nouvelle dépense'"
        [title]="'Fixer le montant'"
    />
    <form (submit)="onButtonClicked()">
        <div class="content">
            <balance-displayer
                [balance]="form.getFieldFrom(label).getValue()"
            />
            <balance-keyboard
                [keyboard]="formatter.getKeyboard()"
                (keyClicked)="onKeyClicked($event)"
            />
        </div>
        <form-button
            [disabled]="!form.valid(label)"
        />
    </form>
</div>