div {
    display: flex;
    justify-content: center;
    gap: 1vw;

    animation: slighSlideInFromTop 1s ease-in-out;

    span {
        display: block;

        font-family: 'bold';
        font-size: 4rem;
        color: #fff;

        &.placeholder {
            color: #737373;
        }
    }
}
