@if (element() | contact; as contact) {
    <contact-description
        [avatarURL]="contact.getAvatarUrl()"
        [firstname]="contact.getFirstname()"
        [lastname]="contact.getLastname()"
    />
}
@if (element() | groupExpense; as expense) {
    <expense-description
        [emoji]="expense.getEmoji()"
        [label]="expense.getLabel()"
        [isDebt]="expense.isDebt()"
        [counterparty]="expense.getCreditor()"
    />
}
@if (element() | pairExpense; as expense) {
    <expense-description
        [emoji]="expense.getEmoji()"
        [label]="expense.getLabel()"
        [isDebt]="expense.isDebt()"
        [counterparty]="expense.getCounterparty()"
    />
}
@if (element() | group; as group) {
    <group-description
        [emoji]="group.getEmoji()"
        [name]="group.getName()"
        [membersCount]="group.countMembers()"
    />
}