@if (element() | contact; as contact) {
    <contact-description
        [avatarUrl]="contact.getAvatarUrl()"
        [firstname]="contact.getFirstname()"
        [lastname]="contact.getLastname()"
    />
}
@if ((element() | groupExpense) || (element() | pairExpense); as expense) {
    <expense-description
        [expense]="expense"
    />
}
@if (element() | group; as group) {
    <group-description
        [emoji]="group.getEmoji()"
        [name]="group.getName()"
        [membersCount]="group.countMembers()"
    />
}