div {
    display: flex;
    align-items: center;
    gap: 4vw;

    animation: slighSlideInFromTop 0.5s ease-in-out;

    .input {
        position: relative;

        .circle {
            position: absolute;

            margin-left: 10%;

            width: 1.3em;
            height: 1.3em;

            background-color: #121212;

            border-radius: 1em;

            transition-property: background-color transform;
            transition-duration: 0.2s;

            &.active {
                background-color: #fff;

                box-shadow: 0 0 5px #121212;

                transform: translateX(0.8em);
            }
        }

        .struct {
            width: 2.6em;
            height: 1.4em;

            padding: 5%;

            background-color: #737373;

            border-radius: 1em;

            transition-property: 'background';
            transition-duration: 0.2s;

            &.active {
                background: #6717cd;
                background: linear-gradient(180deg, #6717cd 0%, #2871fa 100%);
            }
        }
    }

    label {
        font-family: 'regular';
        font-size: 1.3rem;
        color: #737373;

        transition-property: color;
        transition-duration: 0.2s;

        filter: grayscale(1);

        &.active {
            color: #fff;
            filter: grayscale(0);
        }
    }
}
