li {
    margin-left: 5%;
    margin-right: 5%;

    padding: 4%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;

    border-radius: 1rem;
    background-color: #202020;

    font-family: 'bold';
    font-size: 1.1rem;
    color: #fff;

    scroll-snap-align: start;

    .info {
        display: flex;
        align-items: center;
        gap: 3vw;

        .avatar {
            height: 48px;
            width: 48px;

            border-radius: 50%;
            border: 2px solid #2e2e2e;
        }

        .name {
            display: flex;
            flex-direction: column;

            .lastname {
                font-family: 'bold';
            }
        }
    }

    button {
        padding: 5%;

        display: flex;
        align-items: end;
        justify-content: center;

        border: none;
        border-radius: 1rem;

        background: linear-gradient(#b02121, #e64545);

        img {
            width: 20px;
        }
    }
}
