div {
    display: flex;
    justify-content: center;

    animation: slighSlideInFromTop 0.5s ease-in-out;

    span {
        display: block;

        font-family: 'bold';
        font-size: 6rem;
        color: #fff;

        &.placeholder {
            color: #737373;
        }
    }
}
