<div class="container">
    <headbar
        [route]="getPreviousRoute()"
        [subhead]="'Nouvelle dépense de groupe'"
        [title]="'Qui a payé ?'"
    />
    <div class="content">
        @if ($members | async; as members) {
            <ul>
                @for (member of members; track $index) {
                    <member
                        [member]="member"
                        [last]="isLastFrom(members, $index)"
                        (memberSelected)="onMemberSelected($event)"
                    />
                }
            </ul>
        }
        @else {
            <span class="loader"></span>
        }
    </div>
</div>