<section>
    @if ($expense | async; as expense) {
        <expense-header
            [date]="expense.getDate()"
            [origin]="expense.getOrigin()"
        />
        <expense-images
            [avatarURL]="expense.getOrigin().getAvatarURL()"
            [emoji]="expense.getEmoji()"
        />
        <expense-description
            [balance]="expense.formatBalance()"
            [date]="expense.getDate()"
            [isDebt]="expense.isDebt()"
            [name]="expense.getOrigin().getFullName()"
        />
        <expense-action
            [isDebt]="expense.isDebt()"
            (payback)="onPayback()"
        />
    } @else {
        <expense-skeleton/>
    }
</section>