main {
    height: 100%;

    overflow: hidden;

    #gradient {
        z-index: -1;

        position: fixed;
        top: 0;

        width: 100%;
        height: 100%;
        --gradient-color-1: #120d21;
        --gradient-color-2: #120d21;
        --gradient-color-3: #000000;
        --gradient-color-4: #1d1632;
    }

    section {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10vh;

        user-select: none;

        .top-part {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3vh;

            .logo {
                width: 30vw;
                height: 30vw;

                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 2rem;
                border: 1px solid #211c2b;
                background: linear-gradient(150deg, #110c1a, #271e39);

                img {
                    width: 18vw;
                    height: 18vw;
                }
            }

            .title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1vh;

                h1 {
                    font-size: 2.7rem;
                    background: -webkit-linear-gradient(#eee, #333);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                h2 {
                    color: #ffffff3d;
                }
            }
        }

            button {
                width: 80%;

                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;

                padding: 3%;

                border-radius: 2rem;
                border: 1px solid #483f65;
                background: none;

                font-size: 1.1rem;
                color: #cfcbdf;

                img {
                    margin-right: 2vw;

                    width: 4vw;
                    height: 4vw;
                }

                &.disabled {
                    animation: glowing 3s infinite;
                }
            }
    }

    p {
        z-index: 1;

        position: absolute;
        bottom: 3%;

        width: 100%;

        font-size: 0.7rem;
        text-align: center;
        color: #f1e7ff2d;
    }

    .ellipses {
        display: flex;
        justify-content: center;

        div {
            position: absolute;

            width: 120%;

            background: linear-gradient(180deg, #8687e314, #120f1b);
            clip-path: ellipse(50% 50% at 50% 50%);

            &:first-child {
                bottom: -130px;
                height: 250px;
            }

            &:last-child {
                bottom: -50px;
                height: 250px;
            }
        }
    }
}
