.container {
    height: 100%;

    section {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vh;

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                height: 12rem;
                text-shadow: #000000 0px 0px 10px;

                animation: levitation 5s ease-in-out infinite;
            }
        }

        h1 {
            font-family: 'logo';
            font-size: 4rem;
            color: #14093d;

            text-shadow:
                2px 0 #9062f4,
                -2px 0 #9062f4,
                0 2px #9062f4,
                0 -2px #d7c4ff;

            animation: slighSlideInFromBottom 1s ease-in-out;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 4%;

            border: none;
            border-radius: 2rem;

            background: #5000b8;
            background: linear-gradient(180deg, #28005f 0%, #5000b8 100%);

            font-family: 'regular';
            font-size: 1rem;
            color: #fff;

            img {
                margin-right: 0.5rem;
                width: 20px;
            }

            animation: slighSlideInFromBottom 1s ease-in-out;
        }
    }

    #gradient {
        z-index: -1;

        position: fixed;
        top: 0;

        width: 100%;
        height: 100%;
        --gradient-color-1: #000000;
        --gradient-color-2: #000000;
        --gradient-color-3: #000000;
        --gradient-color-4: #27005a;
    }
}

@keyframes levitation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
