form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;

    .content {
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    form-button {
        width: 100%;

        display: flex;
        justify-content: center;
    }
}
