.container {
    height: 100%;

    section {
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 1vh;
        
        h1, h3 {
            color: #fff;
        }
        
        h1 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1.2rem;
        }
    }
    
    #gradient {
        z-index: -1;

        position: fixed;
        top: 0;
        
        width: 100%;
        height: 100%;
        --gradient-color-1: #000000;
        --gradient-color-2: #000000;
        --gradient-color-3: #000000;
        --gradient-color-4: #6717cd;
    }
}
