<div class="container">
    <headbar
        [route]="'/groups/add/emoji'"
        [subhead]="'Nouveau groupe'"
        [title]="'Membres'"
    />
    <div class="content">
        <ul>
            <li>
                <p>
                    <span class="bold">Ajouter</span>
                    <br>
                    des membres
                </p>
                <button>
                    <img id="image" src="assets/icons/add.png"/>
                </button>
            </li>
        </ul>
        <form-button/>
    </div>
</div>