button {
    width: 100%;

    padding: 3%;

    border: none;
    border-radius: 2rem;

    background: #6717cd;
    background: linear-gradient(180deg, #6717cd 0%, #2871fa 100%);

    // box-shadow: 0px 0px 20px #603cff72;

    animation: glowing 5s infinite;

    font-family: 'regular';
    font-size: 1rem;
    color: #fff;

    &.disabled {
        background: #6f6f6f;
        background: linear-gradient(180deg, #484848 0%, #6f6f6f 100%);
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 0px #603cff98;
    }
    50% {
        box-shadow: 0 0 30px #603cff98;
    }
    100% {
        box-shadow: 0 0 0px #603cff98;
    }
}
