<header>
    <div class="left-side">
        <a class="back" routerLink="/">
            <img
                draggable="false"
                src="../../../assets/icons/arrow.svg"
            />
        </a>
        @if (title(); as title) {
            <div class="titles">
              @if (subtitle(); as subtitle) {
                  <h2>{{ subtitle }}</h2>
              }
              <h1 class="bold">
                  {{ title }}
              </h1>
            </div>
        } @else {
            <div class="skeleton">
                @if (subtitle(); as subtitle) {
                    <h2>{{ subtitle }}</h2>
                }
                <h1></h1>
            </div>
        }
    </div>
    <a routerLink="/expenses/add" class="add">
        +
    </a>
</header>
