header {
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3vh;

    display: flex;
    justify-content: space-between;

    animation: slighSlideInFromTop 0.5s ease-in-out;

    .left-side > .back,
    .add {
        width: 14vw;
        height: 14vw;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-side {
        display: flex;
        align-items: center;
        gap: 5vw;

        .back {
            border-radius: 20%;
            background-color: #202020;

            img {
                filter: invert(1);
                transform: rotate(90deg);

                width: 6vw;
            }
        }

        h1 {
            font-size: 1.5rem;
            color: #fff;
        }
    }

    .add {
        border-radius: 20%;
        background-color: #202020;

        color: #fff;
        font-family: 'bold';
        font-size: 2rem;
    }
}
