menu {
    position: absolute;

    height: 12vh;
    width: 100%;

    left: 0;
    right: 0;
    bottom: 0;

    margin: 0;
    padding: 0;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;

    background-color: #121212;

    border-radius: 0;
    border-top: 2px solid #2c2c2c;

    color: #fff;

    transition:
        height 0.5s ease,
        width 0.5s ease,
        left 0.5s ease,
        right 0.5s ease,
        top 0.5s ease,
        bottom 0.5s ease,
        border-radius 0.5s ease;

    &.float {
        position: absolute;
        bottom: 4%;
        left: 0;
        right: 0;

        height: 10vh;
        width: 90%;

        border-radius: 1rem;

        box-shadow: 0 0 10px #121212;
    }
}
