menu {
    height: 10vh;

    margin: 0;
    padding: 0;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;

    background-color: #121212;
    border-top: 2px solid #2c2c2c;

    box-shadow: 0 0 10px #121212;

    color: #fff;

    animation: slighSlideInFromBottom 1s ease-out;
}
