<p>
    @if (currentContextIsExpense()) {
        @if (isCurrentPayer()) {
            Vous avez payé pour vous et
            <span class="bold">
                {{ fullname() }}
            </span>
            la somme de
        } @else {
            <span class="bold">
                {{ fullname() }}
            </span>
            vous a avancé la somme de
        }
    }
    @else {
        @if (isCurrentPayer()) {
            Vous avez payé pour vous et les autres membres la somme de
            <br>
        } @else {
            <span class="bold">
                {{ fullname() }}
            </span>
            <br>
            a avancé aux membres du groupe
        }
    }
</p>