<div class="container">
    @if (group(); as group) {
        <li [routerLink]="getGroupRoute()">
            <div class="emoji">
                {{ group.getEmoji() }}
            </div>
            <div class="text">
                <h3 class="bold">
                    {{ group.getName() }}
                </h3>
            </div>
            <p>
                {{ group.countMembers() }} personnes
            </p>
        </li>
    } @else {
        <li>
            <skeleton/>
        </li>
    }
</div>
