.container {
    min-height: 130px;

    display: flex;
    align-items: flex-end;

    li {
        width: 35vw;
        height: 25vw;

        flex: 0 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        background-color: #202020;
        border-radius: 1rem;

        scroll-snap-align: center;

        &:not(:first-child) {
            scroll-snap-align: start;
        }

        .emoji {
            margin-bottom: 0.3rem;

            font-size: 3.7rem;
        }

        .emoji,
        h3,
        p {
            padding-left: 10%;
        }

        .text {
            width: 130px;

            h3 {
                font-size: 1.2rem;
                color: #fff;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        p {
            padding-bottom: 10%;

            font-size: 0.9rem;
            color: #737373;
        }

        skeleton {
            height: 100%;
        }
    }
}
