<div class="content">
    @if (persons(); as persons) {
        @if (noPerson()) {
            <div>
                <img src="assets/icons/no-content.png"/>
                <p>
                    <span class="bold">Oups !</span>
                    Vous avez ajouté tous vos contacts ou vous n'en avez aucun.
                </p>
            </div>
        } @else {
            <ul>
                @for (person of persons; track $index) {
                    <person
                        [person]="person"
                        [last]="isLastFrom(persons, $index)"
                        [selected]="isPersonSelected(person)"
                        (personSelected)="onPersonSelected($event)"
                    />
                }
            </ul>
            <form-button
                [disabled]="form.getFieldFrom(label).invalid() || buttonDisabled()"
                [text]="text()"
                (clicked)="onButtonClicked()"
            />
        }
    } @else {
        <span class="loader"></span>
    }
    </div>