.content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        max-width: 80%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;

        img {
            width: 96px;
            height: 96px;
        }

        p {
            color: #606060;
            padding: 0;
            text-align: center;
        }
    }

    ul {
        width: 100vw;

        display: flex;
        flex-direction: column;
        gap: 2vh;

        overflow-y: scroll;

        scroll-snap-type: y mandatory;

        animation: slighSlideInFromBottom 0.5s ease-in-out;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    form-button {
        width: 100%;

        display: flex;
        justify-content: center;
    }
}
