ul {
    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    gap: 4vw;

    overflow-x: auto;

    scroll-snap-type: x mandatory;
    scroll-padding-inline-start: 30%;

    animation: slighSlideInFromTop 1s ease-in-out;

    &::-webkit-scrollbar {
        display: none;
    }

    &.loading {
        overflow-x: hidden;
    }
}
