.container {
    display: flex;
    flex-direction: column;
    gap: 3vh;

    form {
        display: flex;
        justify-content: center;

        input {
            width: 90vw;

            padding: 6%;

            box-sizing: border-box;

            background-color: #1d1d1d;
            border-radius: 1rem;
            border: none;

            font-family: 'regular';
            font-size: 1rem;
            color: #fff;

            outline: none;

            &::placeholder {
                font-family: 'regular';
            }
        }
    }

    ul {
        width: 100vw;
        min-height: 40vh;
        max-height: 40vh;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2vh;

        background: linear-gradient(180deg, #121212, #63636333);

        animation: slighSlideInFromBottom 0.5s ease-in-out;

        overflow-y: scroll;

        scroll-snap-type: y mandatory;
        scroll-padding-block-end: 5rem;

        transition: box-shadow 0.2s;

        &::-webkit-scrollbar {
            display: none;
        }

        &.scroll-top {
            box-shadow: inset 0px 25px 20px -15px rgba(0, 0, 0, 0.3);
        }

        &.scroll-bottom {
            box-shadow: inset 0px -20px 10px 0px rgba(0, 0, 0, 0.3);
        }

        li {
            justify-self: center;

            list-style-type: none;

            font-family: 'bold';
            font-size: 3rem;
            color: #fff;

            scroll-snap-align: center;

            &:not(:first-child) {
                scroll-snap-align: start;
            }

            img {
                width: 48px;
            }
        }
    }
}
