<section>
    <form>
        <input
            type="text"
            placeholder="Rechercher..."
        />
        <ul>
            @for (option of options; track $index) {
                <li [ngClass]="selectedClassFor(option)">
                    {{ option.label }}
                </li>
            }
        </ul>
    </form>
    <ul class="expenses">
        @if (expenses | async; as expenses) {
            @for (expense of expenses; track $index) {
                <expense
                    class="expense"
                    [expense]="expense"
                    [isLoading]="isLoading"
                    (expenseHovered)="onExpenseHovered($event)"
                />
            }
        } @else {
            @for (expenseLoading of [null, null, null]; track $index) {
                <expense
                    [expense]="expenseLoading"
                    [isLoading]="true"
                />
            }
        }
    </ul>
</section>
