a {
    width: 14vw;
    height: 14vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: #202020;

    color: #fff;
    font-family: 'bold';
    font-size: 2rem;
    text-decoration: none;
}
