li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    color: #fff;

    padding-bottom: 1vh;
    border-bottom: 2px solid #2c2c2c;

    width: 100%;

    scroll-snap-align: start;

    skeleton {
        width: 100%;
    }
}
