section {
    height: 100%;

    background-color: #202020;
    border-radius: 2rem 2rem 0 0;

    display: flex;
    flex-direction: column;
    gap: 3vh;

    header {
        padding-top: 5%;
        padding-left: 8%;
        padding-right: 8%;

        display: flex;
        justify-content: space-between;

        h3 {
            font-size: 1.2rem;
            color: #fff;
        }

        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    ul {
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 5%;

        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
}
