header {
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3vh;

    display: flex;

    animation: slighSlideInFromTop 0.5s ease-in-out;

    display: flex;
    align-items: center;
    gap: 5vw;

    a {
        border-radius: 20%;
        background-color: #202020;

        padding: 4%;

        img {
            filter: invert(1);
            transform: rotate(90deg);

            width: 6vw;
        }
    }

    .titles {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 1.5rem;
            color: #fff;
        }

        h2 {
            color: #737373;
        }
    }
}
