section {
    display: flex;
    gap: 4vw;

    overflow-x: auto;

    scroll-snap-type: x mandatory;
    scroll-padding-inline-start: 8%;

    &.loading {
        overflow-x: hidden;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    article {
        padding-left: 3%;
        padding-bottom: 3%;

        width: 35vw;
        height: 25vw;

        flex: 0 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        background-color: #202020;
        border-radius: 1rem;

        overflow-x: hidden;
        text-wrap: nowrap;
        scroll-snap-align: center;

        &:first-child {
            margin-left: 8%;
        }

        &:not(:first-child) {
            scroll-snap-align: start;
        }

        &:last-child {
            margin-right: 8%;
        }

        h3 {
            font-size: 1.2rem;
            color: #fff;
        }

        p {
            font-size: 0.9rem;
            color: #737373;
        }

        &.loading {
            display: flex;
            flex-direction: column;
            gap: 1vh;

            h3,
            p {
                background-color: #292929;
                border-radius: 0.5rem;

                background-color: #292929;
                background: linear-gradient(
                    90deg,
                    #292929 25%,
                    #3f3f3f 50%,
                    #292929 75%
                );
                background-size: 200% 100%;

                animation: skeletonLoading 1.5s infinite linear;
            }

            h3 {
                width: 90%;
                height: 18px;
            }

            p {
                width: 70%;
                height: 14px;
            }
        }
    }
}
