<li (click)="onClicked()" [ngClass]="{ last: last() }">
    <div class="info">
        <img
            id="image"
            class="avatar"
            [src]="'assets/images/' + member().getAvatarURL()"
        />
        <div class="name">
            <span class="firstname">
                {{ member().getFirstname() }}
            </span>
            <span class="lastname">
                {{ member().getLastname() }}
            </span>
        </div>
    </div>
    <button>
        <img id="image" src="assets/icons/arrow.svg"/>
    </button>
</li>