.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;

    .balance {
        display: flex;
        gap: 1vw;

        span {
            display: block;

            font-family: 'bold';
            font-size: 4rem;
            color: #fff;

            &.placeholder {
                color: #737373;
            }
        }
    }
}
