section {
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    flex-direction: column;
    gap: 0.5vh;

    user-select: none;

    animation: slighSlideInFromTop 0.8s ease-in-out;

    h3 {
        font-size: 1.2rem;
        color: #737373;
    }

    p {
        font-size: 2.5rem;
        color: #fff;

        span.minus {
            color: #ba4343;
        }
    }
}
