header {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3vh;

    display: flex;
    justify-content: space-between;

    animation: slighSlideInFromTop 0.5s ease-in-out;

    &.iphone {
        margin-top: 16%;
    }

    div {
        display: flex;
        align-items: center;
        gap: 5vw;
    }
}
