div {
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7vh;

    padding: 15%;

    &:first-child {
        padding: 20%;
    }

    font-family: 'regular';
    font-size: 0.68rem;
    color: #ffffff49;

    img {
        height: 2.1em;
        opacity: 0.3;
    }

    &.selected {
        color: #fff;
        background-color: #ffffff16;
        border-radius: 1rem;

        img {
            opacity: 1;
        }
    }
}
