div {
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7vh;

    font-family: 'regular';
    font-size: 0.68rem;
    color: #ffffff49;

    img {
        height: 2.1em;
        opacity: 0.3;
    }

    &.selected {
        color: #fff;

        img {
            opacity: 1;
            animation: smooth-rotate 0.7s;
        }
    }
}

@keyframes smooth-rotate {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
