<li (click)="onClicked()" [ngClass]="{ last: last() }">
    <div class="info">
        <img
            id="image"
            class="avatar"
            [src]="'../../../../../../../assets/images/' + contact().getAvatarURL()"
        />
        <div class="name">
            <span class="firstname">
                {{ contact().getFirstname() }}
            </span>
            <span class="lastname">
                {{ contact().getLastname() }}
            </span>
        </div>
    </div>
    <button>+</button>
</li>