<li (click)="onClicked()" [ngClass]="{ last: last(), selected: selected() }">
    <div class="info">
        <img
            id="image"
            class="avatar"
            [src]="'assets/images/' + contact().getAvatarURL()"
        />
        <div class="name">
            <span class="firstname">
                {{ contact().getFirstname() }}
            </span>
            <span class="lastname">
                {{ contact().getLastname() }}
            </span>
        </div>
    </div>
    <button>
        <img
            id="image"
            [src]="selected() ? 'assets/icons/check.png' : 'assets/icons/add.png'"
        />
    </button>
</li>