.container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5vh;

    background: linear-gradient(180deg, #121212, #51515133);

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;

        .content {
            display: flex;
            flex-direction: column;
            gap: 10vh;

            .balance {
                display: flex;
                justify-content: center;
                gap: 1vw;

                animation: slighSlideInFromTop 1s ease-in-out;

                span {
                    display: block;

                    font-family: 'bold';
                    font-size: 4rem;
                    color: #fff;

                    &.placeholder {
                        color: #737373;
                    }
                }
            }
        }

        form-button {
            width: 100%;

            display: flex;
            justify-content: center;
        }
    }
}
