header {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slighSlideInFromTop 0.5s ease-in-out;

    .avatar {
        height: 11vw;
    }
}
