<form (keydown.enter)="onKeyboardEnter($event)">
    <div class="content">
        <input
            type="text"
            enterkeyhint="done"
            placeholder="Entrer un nom..."
            [value]="form.getFieldFrom(labels.name).getValue()"
            (input)="onInput($event)"
        />
        @if (currentContextIsExpense()) {
            <form-checkbox
                [active]="form.getFieldFrom(labels.isCurrentPayer).getValue()"
                (changed)="onCheckboxChanged($event)"
            />
        }
    </div>
    <form-button
        [disabled]="form.getFieldFrom(labels.name).invalid()"
        (clicked)="onButtonClicked()"
    />
</form>