<form [formGroup]="form">
    @switch (currentStep) {
        @case ('balance') {
            <balance
                [balance]="form.controls.balance"
            />
        }
        @case ('details') {
            details
        }
        @case ('contact') {
            contact
        }
        @case ('summary') {
            summary
        }
    }
    <button
        [disabled]="form.invalid"
        [ngClass]="{ 'disabled': form.invalid }"
        (click)="onSubmit()">
        OK
    </button>
</form>
