<form [formGroup]="form">
    @switch (currentStep) {
        @case ('balance') {
            <balance
                [balance]="form.controls.balance"
            />
        }
        @case ('emoji') {
            <emoji
                [emoji]="form.controls.emoji"
            />
        }
        @case ('info') {
            <info
                [emoji]="form.controls.emoji"
                [isCurrentPayer]="form.controls.isCurrentPayer"
                [name]="form.controls.name"
            />
        }
        @case ('contact') {
            <contact
                [phone]="form.controls.phone"
            />
        }
        @case ('summary') {
            summary
        }
    }
    <button
        [disabled]="isCurrentFormStepInvalid()"
        [ngClass]="{ 'disabled': isCurrentFormStepInvalid() }"
        (click)="onSubmit()">
        OK
    </button>
</form>
