<div class="container">
    <headbar
        [route]="'details'"
        [subtitle]="'Nouvelle dépense'"
        [title]="'Choisir la personne'"
    />
    <form [formGroup]="form">
        <div class="content">
            <manual-phone-input
                [control]="form.controls.phone"
                (searching)="onSearching($event)"
                (userFound)="onUserFound($event)"
            />
            <div [ngClass]="{ searching }">
                <span>ou</span>
                <button type="button">
                    🙋 Choisir un contact
                </button>
            </div>
        </div>
    </form>
</div>