@font-face {
    font-family: 'regular';
    src: url('./assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('./assets/fonts/Inter-SemiBold.ttf');
}

html,
body {
    all: unset;

    height: 100vh;

    background-color: #121212;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    all: unset;
    display: block;

    font-family: 'regular';

    &.bold {
        font-family: 'bold';
    }
}

@keyframes skeletonLoading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
