@font-face {
    font-family: 'regular';
    src: url('./assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'medium';
    src: url('./assets/fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('./assets/fonts/Inter-SemiBold.ttf');
}

html,
body {
    all: unset;

    height: 100vh;

    background-color: #121212;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span {
    margin: 0;
    padding: 0;

    font-family: 'regular';
    font-size: 1em;
    font-weight: normal;

    &.bold {
        font-family: 'bold';
    }
}

ul,
li {
    margin: 0;
    padding: 0;
}

span {
    &.claim,
    &.debt {
        font-family: 'bold';
    }

    &.claim {
        color: #43ba59;
    }

    &.debt {
        color: #ba4343;
    }
}

@keyframes skeletonLoading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@keyframes slighSlideInFromBottom {
    from {
        transform: translateY(20%);
        opacity: 0;

        animation-timing-function: ease-in-out;
    }

    to {
        transform: translateY(0%);
        opacity: 1;

        animation-timing-function: ease-in-out;
    }
}

@keyframes slighSlideInFromRight {
    from {
        transform: translateX(20%);
        opacity: 0;

        animation-timing-function: ease-in-out;
    }

    to {
        transform: translateX(0%);
        opacity: 1;

        animation-timing-function: ease-in-out;
    }
}

@keyframes slighSlideInFromTop {
    from {
        transform: translateY(-20%);
        opacity: 0;

        animation-timing-function: ease-in-out;
    }

    to {
        transform: translateY(0%);
        opacity: 1;

        animation-timing-function: ease-in-out;
    }
}
@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow:
            0 -3em 0 0.2em,
            2em -2em 0 0em,
            3em 0 0 -1em,
            2em 2em 0 -1em,
            0 3em 0 -1em,
            -2em 2em 0 -1em,
            -3em 0 0 -1em,
            -2em -2em 0 0;
    }
    12.5% {
        box-shadow:
            0 -3em 0 0,
            2em -2em 0 0.2em,
            3em 0 0 0,
            2em 2em 0 -1em,
            0 3em 0 -1em,
            -2em 2em 0 -1em,
            -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }
    25% {
        box-shadow:
            0 -3em 0 -0.5em,
            2em -2em 0 0,
            3em 0 0 0.2em,
            2em 2em 0 0,
            0 3em 0 -1em,
            -2em 2em 0 -1em,
            -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow:
            0 -3em 0 -1em,
            2em -2em 0 -1em,
            3em 0em 0 0,
            2em 2em 0 0.2em,
            0 3em 0 0em,
            -2em 2em 0 -1em,
            -3em 0em 0 -1em,
            -2em -2em 0 -1em;
    }
    50% {
        box-shadow:
            0 -3em 0 -1em,
            2em -2em 0 -1em,
            3em 0 0 -1em,
            2em 2em 0 0em,
            0 3em 0 0.2em,
            -2em 2em 0 0,
            -3em 0em 0 -1em,
            -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow:
            0 -3em 0 -1em,
            2em -2em 0 -1em,
            3em 0 0 -1em,
            2em 2em 0 -1em,
            0 3em 0 0,
            -2em 2em 0 0.2em,
            -3em 0 0 0,
            -2em -2em 0 -1em;
    }
    75% {
        box-shadow:
            0em -3em 0 -1em,
            2em -2em 0 -1em,
            3em 0em 0 -1em,
            2em 2em 0 -1em,
            0 3em 0 -1em,
            -2em 2em 0 0,
            -3em 0em 0 0.2em,
            -2em -2em 0 0;
    }
    87.5% {
        box-shadow:
            0em -3em 0 0,
            2em -2em 0 -1em,
            3em 0 0 -1em,
            2em 2em 0 -1em,
            0 3em 0 -1em,
            -2em 2em 0 0,
            -3em 0em 0 0,
            -2em -2em 0 0.2em;
    }
}
