<div class="container">
    <headbar
        [route]="'/groups/add/members/add'"
        [subhead]="'Nouveau groupe > Membres'"
        [title]="'Choisir les contacts'"
    />
    <div class="content">
        @if ($contacts | async; as contacts) {
            <ul>
                @for (contact of contacts; track $index) {
                    <contact
                        [contact]="contact"
                        [last]="isLastFrom(contacts, $index)"
                        [selected]="isContactSelected(contact)"
                        (contactSelected)="onContactSelected($event)"
                    />
                }
            </ul>
            <form-button
                [disabled]="form.getFieldFrom(labels.contacts).invalid()"
                [text]="'Ajouter au groupe'"
                (clicked)="onButtonClicked()"
            />
        }
        @else {
            <span class="loader"></span>
        }
    </div>
</div>