div {
    display: flex;
    gap: 2vw;

    .emoji {
        font-size: 2rem;
    }

    .textes {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        p {
            font-size: 0.9rem;
            color: #737373;
        }
    }
}
