.container {
    height: 100%;

    display: flex;
    flex-direction: column;

    background: linear-gradient(180deg, #121212, #51515133);

    person-form {
        display: flex;
        flex: 1;
    }
}
